<template>
  <Space className="container">
    <Form :model="formState" @finish="formHandler">
      <FormItem name="r1" label="R1">
        <Input v-model:value="formState.r1" />
      </FormItem>
      <FormItem name="r2" label="R2">
        <Input v-model:value="formState.r2" />
      </FormItem>
      <FormItem name="l" label="L">
        <Input v-model:value="formState.l" />
      </FormItem>
      <Button html-type="submit" type="primary">Результат</Button>
    </Form>
  </Space>
  <Paragraph v-if="result != ''">Результат: {{ result }}</Paragraph>

  <!--<form @submit.prevent @submit="formHandler">
    <div><label>R1:</label><input v-model="r1"/></div>
    <div><label>R2:</label><input v-model="r2"/></div>
    <div><label>L:</label><input v-model="l"/></div>
    <Button type="primary" html-type="submit">Результат</Button>
  </form>
  <div v-if="result != 0">Результат: {{ result }}</div>-->
</template>

<script lang="ts">
import { defineComponent, reactive } from 'vue';
import axios from 'axios';
import { Button, Input, Form, Space, Typography } from 'ant-design-vue';

const Paragraph = Typography.Paragraph;
const FormItem = Form.Item;

interface FormState {
  r1: number,
  r2: number,
  l: number
}

export default defineComponent({
  data() {

    const formState = reactive<FormState>({
      r1: 0,
      r2: 0,
      l: 0
    });

    return {
      result: "",
      formState
    }
  },
  name: 'App',
  components: {
    Button,
    Input,
    Space,
    Form,
    Paragraph,
    FormItem
  },
  methods: {
    formHandler(data: any) {
      console.log(data);
      let result = axios.post("https://localhost:7257/api/konus/konusarea", {
        ...data
      });
      result.then((res) => {
        this.result = Number(res.data).toFixed(3);
      })
    }
  }
});
</script>

<style>
.container {
  margin: auto;
}
</style>
